@{
    ViewBag.Title = "Library Management System";
}

<main>
    <section class="row" aria-labelledby="libraryTitle">
        <h1 id="libraryTitle">Library Management</h1>
        <p class="lead">Our Library Management System is a user-friendly platform for managing books, patrons, and library lending services using modern web technologies.</p>
        <p><a href="@Url.Action("Index", "Books")" class="btn btn-primary btn-md">Browse Books &raquo;</a></p>
    </section>

</main>
